{% extends "base.html" %}
{% block title %}All books{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="card m-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post.created_at}}</h6>
                <p class="card-text">{{ post.body }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">Zobacz więcej...</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
